Repository ARM-software/psa-api, pull requests merged in 2022-12, with the labels that each got.

#25 Added related projects
  README.md
  related-projects.md
Labels: enhancement, infrastructure

#21 Fix whitespace defect in status code definition
  doc/status-code/api.db/psa/error.h
  doc/status-code/api/status-codes.rst
  doc/status-code/appendix/change-history.rst
  doc/status-code/conf.py
  doc/status-code/releases
  headers/status-code/1.0/psa/error.h
Labels: bug, Status code API

#27 Fix order of elements in Crypto API header
  doc/crypto/api/keys/attributes.rst
  doc/crypto/api/keys/ids.rst
  doc/crypto/api/keys/lifetimes.rst
  doc/crypto/api/keys/management.rst
  doc/crypto/api/keys/policy.rst
  doc/crypto/api/keys/types.rst
  doc/crypto/api/library/library.rst
  doc/crypto/api/ops/algorithms.rst
  doc/crypto/conf.py
  headers/crypto/1.1/psa/crypto.h
Labels: clarification, Crypto API

#28 Finalise Status code API 1.0.2
  README.md
  doc/status-code/conf.py
Labels: Status code API

#29 Publish Status code API 1.0.2
  index.md
  status-code/1.0/IHI0097-PSA_Certified_Status_code_API-1.0.2.pdf
  status-code/1.0/_static/documentation_options.js
  status-code/1.0/about.html
  status-code/1.0/api/status-codes.html
  status-code/1.0/appendix/change-history.html
  status-code/1.0/appendix/reference-headers.html
  status-code/1.0/genindex.html
  status-code/1.0/index.html
  status-code/1.0/overview/intro.html
  status-code/1.0/search.html
  status-code/1.0/searchindex.js
  status-code/index.md
Labels: Status code API

#42 Remove URLs for CSTC standards
  doc/crypto/api/keys/types.rst
  doc/crypto/api/ops/hashes.rst
  doc/crypto/references
Labels: clarification, Crypto API
