Repository ARM-software/psa-api, pull requests merged in 2023-12, with the labels that each got.

#101 Add new key agreement function
  doc/crypto/api.db/psa/crypto.h
  doc/crypto/api/keys/management.rst
  doc/crypto/api/keys/policy.rst
  doc/crypto/api/ops/ka.rst
  doc/crypto/api/ops/kdf.rst
  doc/crypto/appendix/encodings.rst
  doc/crypto/appendix/history.rst
  doc/crypto/appendix/specdef_values.rst
  doc/crypto/overview/functionality.rst
Labels: enhancement, Crypto API

#123 Add support for KDFs based on SP 800-108 recommendations
  doc/crypto/api.db/psa/crypto.h
  doc/crypto/api/keys/types.rst
  doc/crypto/api/ops/kdf.rst
  doc/crypto/appendix/encodings.rst
  doc/crypto/appendix/history.rst
  doc/crypto/appendix/specdef_values.rst
  doc/crypto/references
Labels: enhancement, Crypto API

#117 Storage SRA
  doc/storage/appendix/history.rst
  doc/storage/appendix/sra.rst
  doc/storage/figure/callers.pdf
  doc/storage/figure/callers.pdf.license
  doc/storage/figure/callers.puml
  doc/storage/figure/callers.svg
  doc/storage/figure/callers.svg.license
  doc/storage/figure/dm-authorized.pdf
  doc/storage/figure/dm-authorized.pdf.license
  doc/storage/figure/dm-authorized.puml
  doc/storage/figure/dm-authorized.svg
  doc/storage/figure/dm-authorized.svg.license
  doc/storage/figure/dm-exposed.pdf
  doc/storage/figure/dm-exposed.pdf.license
  doc/storage/figure/dm-exposed.puml
  doc/storage/figure/dm-exposed.svg
  doc/storage/figure/dm-exposed.svg.license
  doc/storage/figure/dm-protected.pdf
  doc/storage/figure/dm-protected.pdf.license
  doc/storage/figure/dm-protected.puml
  doc/storage/figure/dm-protected.svg
  doc/storage/figure/dm-protected.svg.license
  doc/storage/figure/dm-secure-link.pdf
  doc/storage/figure/dm-secure-link.pdf.license
  doc/storage/figure/dm-secure-link.puml
  doc/storage/figure/dm-secure-link.svg
  doc/storage/figure/dm-secure-link.svg.license
  doc/storage/figure/lifecycle.pdf
  doc/storage/figure/lifecycle.pdf.license
  doc/storage/figure/lifecycle.puml
  doc/storage/figure/lifecycle.svg
  doc/storage/figure/lifecycle.svg.license
  doc/storage/index.rst
  doc/storage/overview/intro.rst
Labels: enhancement, Secure Storage API

#135 Secure Storage API 1.0.3 RC1
  doc/storage/about.rst
  doc/storage/appendix/history.rst
  doc/storage/appendix/sra.rst
  doc/storage/conf.py
Labels: Secure Storage API, style/grammar

#131 Use PSA Attestation Token as the format for initial attestation reports
  doc/attestation/about.rst
  doc/attestation/api.db/psa/initial_attestation.h
  doc/attestation/api/api.rst
  doc/attestation/appendix/cddl.rst
  doc/attestation/appendix/example-token.rst
  doc/attestation/appendix/history.rst
  doc/attestation/conf.py
  doc/attestation/index.rst
  doc/attestation/overview/intro.rst
  doc/attestation/overview/report.rst
Labels: enhancement, Attestation API
