Repository ARM-software/psa-api, pull requests merged in 2024-02, with the labels that each got.

#164 Configure for Crypto 1.2.0 REL specifications
  doc/crypto/conf.py
  doc/ext-pake/conf.py
Labels: Crypto API, publication

#165 Publish Secure Storage API 1.0.3
  index.md
  storage/1.0/IHI0087-PSA_Certified_Secure_Storage_API-1.0.3.pdf
  storage/1.0/_images/callers.svg
  storage/1.0/_images/dm-authorized.svg
  storage/1.0/_images/dm-exposed.svg
  storage/1.0/_images/dm-protected.svg
  storage/1.0/_images/dm-secure-link.svg
  storage/1.0/_images/lifecycle.svg
  storage/1.0/_static/custom.css
  storage/1.0/_static/documentation_options.js
  storage/1.0/about.html
  storage/1.0/api/api.html
  storage/1.0/appendix/headers.html
  storage/1.0/appendix/history.html
  storage/1.0/appendix/sra.html
  storage/1.0/atg_c-identifiers.html
  storage/1.0/genindex.html
  storage/1.0/index.html
  storage/1.0/objects.inv
  storage/1.0/overview/architecture.html
  storage/1.0/overview/intro.html
  storage/1.0/overview/operation.html
  storage/1.0/overview/requirements.html
  storage/1.0/search.html
  storage/1.0/searchindex.js
  storage/index.md
Labels: Secure Storage API, publication

#166 Update Secure Storage API version in readme
  README.md
Labels: Secure Storage API, publication

#169 Update readme and header for the Crypto 1.2 specifications
  README.md
  headers/crypto/1.2/psa/crypto-pake.h
  headers/crypto/1.2/psa/crypto.h
Labels: Crypto API, publication

#128 Add a reference example for PSA_ALG_SP800_108_COUNTER_HMAC/CMAC
  examples/crypto/SP800-108_counter_KDF/CMakeLists.txt
  examples/crypto/SP800-108_counter_KDF/README.md
  examples/crypto/SP800-108_counter_KDF/main.c
Labels: Crypto API

#171 Final polishing of the SP800-108 example code
  examples/README.md
  examples/crypto/SP800-108_counter_KDF/README.md
Labels: Crypto API, publication

#176 Configure PAKE Extension for patch update Final.1
  doc/ext-pake/appendix/history.rst
  doc/ext-pake/conf.py
Labels: Crypto API, publication

#175 Fix Jake sample code for setting key attributes
  doc/ext-pake/api/pake.rst
Labels: bug, Crypto API
