Repository ARM-software/psa-api, pull requests merged in 2024-01, with the labels that each got.

#119 Add asymmetric key types for SPAKE2+
  doc/ext-pake/api.db/psa/crypto-pake.h
  doc/ext-pake/api/pake.rst
  doc/ext-pake/appendix/history.rst
  doc/ext-pake/appendix/specdef_values.rst
  doc/ext-pake/figure/spake2p_key.json
  doc/ext-pake/figure/spake2p_key.json.license
  doc/ext-pake/figure/spake2p_key.pdf
  doc/ext-pake/figure/spake2p_key.pdf.license
  doc/ext-pake/figure/spake2p_key.svg
  doc/ext-pake/figure/spake2p_key.svg.license
Labels: enhancement, API design, Crypto API

#138 PSA_ERROR_INVALID_HANDLE: clarify that it's about existing objects
  doc/crypto/api/library/status.rst
  doc/status-code/api/status-codes.rst
Labels: clarification, Crypto API, Status code API

#139 Minor fixes
  doc/storage/appendix/sra.rst
Labels: clarification, Secure Storage API

#137 Iterator
  doc/storage/appendix/sra.rst
Labels: enhancement, Secure Storage API

#140 Prepare for PAKE beta-2 release candidate
  doc/ext-pake/api.db/psa/crypto-pake.h
  doc/ext-pake/api/pake.rst
  doc/ext-pake/appendix/history.rst
  doc/ext-pake/conf.py
  doc/ext-pake/releases
Labels: Crypto API

#142 Clarify the required behavior of concurrent calls
  doc/crypto/appendix/history.rst
  doc/crypto/overview/conventions.rst
Labels: clarification, Crypto API

#143 Correct the document date for Crypto 1.1.2
  doc/crypto/conf.py
Labels: bug, Crypto API, style/grammar

#144 Fix document date in Crypto API 1.1.2
  crypto/1.1/IHI0086-PSA_Certified_Crypto_API-1.1.2.pdf
  crypto/1.1/index.html
Labels: bug, style/grammar

#145 Prepare Status code 1.0.3 release
  doc/status-code/api/status-codes.rst
  doc/status-code/appendix/change-history.rst
  doc/status-code/conf.py
  doc/status-code/releases
Labels: clarification, Status code API

#146 Publish Status code API 1.0.3
  index.md
  status-code/1.0/IHI0097-PSA_Certified_Status_code_API-1.0.3.pdf
  status-code/1.0/_static/_sphinx_javascript_frameworks_compat.js
  status-code/1.0/_static/basic.css
  status-code/1.0/_static/custom.css
  status-code/1.0/_static/doctools.js
  status-code/1.0/_static/documentation_options.js
  status-code/1.0/_static/graphviz.css
  status-code/1.0/_static/jquery-3.6.0.js
  status-code/1.0/_static/jquery.js
  status-code/1.0/_static/language_data.js
  status-code/1.0/_static/searchtools.js
  status-code/1.0/_static/sphinx_highlight.js
  status-code/1.0/about.html
  status-code/1.0/api/status-codes.html
  status-code/1.0/appendix/change-history.html
  status-code/1.0/appendix/reference-headers.html
  status-code/1.0/genindex.html
  status-code/1.0/index.html
  status-code/1.0/overview/intro.html
  status-code/1.0/search.html
  status-code/1.0/searchindex.js
  status-code/index.md
Labels: clarification, Status code API

#147 Update README.md
  README.md
Labels: infrastructure

#92 Add support for XChaCha20 and XChaCha20-Poly1305
  doc/crypto/api.db/psa/crypto.h
  doc/crypto/api/keys/types.rst
  doc/crypto/api/ops/aead.rst
  doc/crypto/api/ops/ciphers.rst
  doc/crypto/appendix/encodings.rst
  doc/crypto/appendix/history.rst
  doc/crypto/references
Labels: enhancement, Crypto API

#94 Add support for zigbee algorithms
  doc/crypto/api.db/psa/crypto.h
  doc/crypto/api/keys/policy.rst
  doc/crypto/api/ops/aead.rst
  doc/crypto/api/ops/ciphers.rst
  doc/crypto/api/ops/hashes.rst
  doc/crypto/appendix/encodings.rst
  doc/crypto/appendix/history.rst
  doc/crypto/references
Labels: enhancement, Crypto API

#150 Typeset all mathematical equations and symbols as :math:
  doc/crypto/api/keys/management.rst
  doc/crypto/api/keys/types.rst
  doc/crypto/api/ops/aead.rst
  doc/crypto/api/ops/ciphers.rst
  doc/crypto/api/ops/hashes.rst
  doc/crypto/api/ops/ka.rst
  doc/crypto/api/ops/kdf.rst
  doc/crypto/api/ops/sign.rst
Labels: Crypto API, style/grammar

#151 Prepare Crypto spec for v1.2 release candidate
  doc/crypto/api.db/psa/crypto.h
  doc/crypto/api/keys/attributes.rst
  doc/crypto/api/keys/lifetimes.rst
  doc/crypto/api/keys/management.rst
  doc/crypto/api/library/library.rst
  doc/crypto/api/library/status.rst
  doc/crypto/appendix/encodings.rst
  doc/crypto/appendix/history.rst
  doc/crypto/conf.py
  doc/crypto/overview/conventions.rst
  doc/crypto/overview/functionality.rst
  doc/crypto/releases
Labels: Crypto API, publication

#158 Storage 1.0.3 final
  doc/storage/about.rst
  doc/storage/appendix/history.rst
  doc/storage/appendix/sra.rst
  doc/storage/conf.py
  doc/storage/index.rst
Labels: Secure Storage API, writing/style, publication

#155 Fixes for issues found during PAKE RC1 review
  doc/ext-pake/api/pake.rst
Labels: bug, Crypto API

#156 Add export format for SPAKE2+ key pairs
  doc/ext-pake/api/pake.rst
Labels: enhancement, Crypto API

#159 Clarification and relaxation of the flow for PAKE protocols
  doc/ext-pake/api/pake.rst
  doc/ext-pake/figure/spake2plus.pdf
  doc/ext-pake/figure/spake2plus.pdf.license
  doc/ext-pake/figure/spake2plus.puml
  doc/ext-pake/figure/spake2plus.svg
  doc/ext-pake/figure/spake2plus.svg.license
Labels: bug, clarification, Crypto API

#162 Fix references in Crypto API to the updated PAKE API
  doc/crypto/api/ops/kdf.rst
  doc/crypto/overview/intro.rst
  doc/crypto/references
Labels: bug, Crypto API

#160 Change of PAKE extension status to REL/Final
  doc/ext-pake/about.rst
  doc/ext-pake/api/encodings.rst
  doc/ext-pake/api/pake.rst
  doc/ext-pake/appendix/history.rst
  doc/ext-pake/conf.py
  doc/ext-pake/index.rst
  doc/ext-pake/overview/intro.rst
  doc/ext-pake/references
  doc/ext-pake/releases
Labels: Crypto API, publication

#163 Fix wording error in #162
  doc/crypto/conf.py
  doc/crypto/overview/intro.rst
Labels: bug, Crypto API
